DATABASE_URL=postgresql://neondb_owner:npg_eSPkINfV5E2x@ep-shy-union-agmgbfpr-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET = your secret key
JWT_EXPIRES = 1d
REFRESH_TOKEN=refreshToken
TOKEN_EXPIRATION_UNIT=month
TOKEN_EXPIRATION_VALUE=1
